*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    grid-auto-rows: 0;
}

h1,
ul {
    margin-bottom: 32px;
}

.sidebar {
    padding: 12px;
}

li {
    margin-bottom: 8px;
}

.header {
    margin-bottom: 24px;
}

.header-top > * {
    display: inline;
}

.header-top {
    margin-bottom: 24px;
}

.header-bot {
    display: flex;
}

.hello {
    margin-right: auto;
}