*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    grid-auto-rows: 0;
}

h1,
ul {
    margin-bottom: 32px;
}

.sidebar {
    padding: 12px;
    background-color: #0f172a;
}

li {
    margin-bottom: 8px;
}

.header {
    margin-bottom: 24px;
    background-color: #94a3b8;
}

.header-top > * {
    display: inline;
}

.header-top {
    margin-bottom: 24px;
}

.header-bot {
    display: flex;
}

.hello {
    margin-right: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.cards > div,
.announce > div,
.trending > div {
    background-color: #94a3b8;
}

.content {
    display: grid;
    grid-template-columns: 2fr 2f1;
}

.content-side {
    grid-column-start: 3;
}

.right-root {
    background-color: #1e293b;
}